@charset "UTF-8";

* {
    box-sizing: border-box;
    transition: all .1s;
}


html {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    padding: 15px;
    background-color: #28354e;
}

.container {
    position: relative;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 3px 1px 10px 2px #00000060;
    background-color: #fff;
}

#login {padding: 10px;}

div#sec-img {
    width: 100%;
    height: 210px;
    border-radius: 20px 20px 0 0;
    background-image: url(../imagens/universe-bg-pexels.jpg);
    background-position: center center;
    background-size: cover;
}

main h1 {
    text-align: center;
    margin: 10px 0;
}

.linha-form {
    border-radius: 10px;
    background-color: #00153b;
    border: 1px solid  #00153b;
    margin-top: 5px;
    height: 40px;
}

label {
    text-align: center;
    color: white;
}

label span {
    width: 30px;
    padding: 5px;
}

#email,
#senha {
    width: calc(100% - 35px);
    height: 100%;
    transform: translateY(-13%);
    border-radius: 10px;
    border: 1px solid #00153b;
}

#enviar {
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #0055ff;
    color: white;
}

#linha {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

a#esqueci-senha {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #0055ff;
    color: black;
    border-radius: 10px;
}

#esqueci-senha i {
    font-size: 1.1em;
}